### Guide
1. A data dictionary should be made for the collected data. Each column should have a description of how it was obtained and/or computed.
2. A description of the device used in capturing the data must also be given; most especially, the camera specification.
3. The date and time fields should be separated. This will make date time computations better and easier
4. The time field should use a proper timestamp data format.
5. In the data dictionary, the time zone for the location of the project should be given
6. The storage of the images on google seems to be nice. However, it could also be advised that the images be stored on data repositories such as Kaggle for a better visibility.
7. If you are having a challenge getting datasets, you might explore the possibility of incentivizing data collection from poultry farms. This will ease the process and faster
8. Consider classifying the datasets collected into their respective diseases.

In [2]:
from sklearn.datasets import load_iris

In [9]:
datairis = load_iris()
datairis.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [20]:
datairis['DESCR']

'.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...'

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [1]:
rawdf = pd.read_csv("geocoded.csv")
rawdf.head()

NameError: name 'pd' is not defined

In [16]:
rawdf.dtypes

data-fid-start            object
data-fid-end              object
data-fid-today            object
data-fid-deviceid          int64
data-fid-img              object
data-fid-imgtype          object
data-fid-imgtype_other    object
data-fid-obs              object
data-fid-gps              object
data-fid-gps-altitude     object
data-fid-gps-accuracy     object
data-meta-instanceID      object
dtype: object

In [84]:
rawdf.tail()

,data-fid-start,data-fid-end,data-fid-today,data-fid-deviceid,data-fid-img,data-fid-imgtype,data-fid-imgtype_other,data-fid-obs,data-fid-gps,data-fid-gps-altitude,data-fid-gps-accuracy,data-meta-instanceID
3569,9/11/2020 16:55:00,9/11/2020 16:55:00,9/11/2020,359044064548618,https://drive.google.com/open?id=1vqlDvRnoUjZM...,healthy,,,"-3.35845752,36.71405857",1454,5,uuid:ca209b25-ead3-47bf-92d5-2e5db8e95493
3570,9/11/2020 16:56:00,9/11/2020 16:56:00,9/11/2020,359044064548618,https://drive.google.com/open?id=1lVh0MKvVXyYJ...,healthy,,,"-3.35844178,36.71406684",1451,4,uuid:032f1a5c-c058-4bf3-87a7-9db5f3a27d90
3571,9/11/2020 16:56:00,9/11/2020 16:57:00,9/11/2020,359044064548618,https://drive.google.com/open?id=1zlFH9t_09_0E...,healthy,,,"-3.35844316,36.71407095",1452,5,uuid:c298ffcb-487a-4be8-976b-9d985cacebd2
3572,9/11/2020 16:57:00,9/11/2020 16:57:00,9/11/2020,359044064548618,https://drive.google.com/open?id=1Jtj6AtEHIUKf...,healthy,,,"-3.3584389,36.71406666",1454,5,uuid:f06c12a5-74bf-480d-9c8c-0faec45bb9f9
3573,9/11/2020 11:32:00,9/11/2020 11:33:00,9/11/2020,359044064548618,https://drive.google.com/open?id=1Aqho4WACyES0...,healthy,,,"-3.35835982,36.71394597",1425,5,uuid:d1f44e6a-ee84-44fb-a25f-0e3da407c468

In [101]:
rawdf.shape

(3574, 12)

In [102]:
#no of records without geocodes
sum(rawdf['data-fid-gps'].loc[:]==' ')

541

In [103]:
#save them externally 
notgeocod = rawdf[rawdf['data-fid-gps']==' ']
notgeocod.to_csv('notgeocoded.csv',index=False)

In [104]:
notgeocodf = pd.read_csv('notgeocoded.csv')
notgeocodf.shape

(541, 12)

In [89]:
notgeocodf.head()

,data-fid-start,data-fid-end,data-fid-today,data-fid-deviceid,data-fid-img,data-fid-imgtype,data-fid-imgtype_other,data-fid-obs,data-fid-gps,data-fid-gps-altitude,data-fid-gps-accuracy,data-meta-instanceID
0,15/09/20 08:01,15/09/20 08:37,15/09/20,355329114698347,https://drive.google.com/open?id=1Icw1qTWsMQi5...,coccid,,,,,,uuid:bbc6c2f8-a014-43f7-b28c-7f9e8aadf56f
1,15/09/20 08:38,15/09/20 18:02,15/09/20,355329114698347,https://drive.google.com/open?id=1HPmdHeUqMakm...,coccid,,,,,,uuid:3587fcc7-e77a-4534-bbdf-678c11816a1d
2,15/09/20 18:02,15/09/20 18:03,15/09/20,355329114698347,https://drive.google.com/open?id=1TZ41Vf_GChZG...,coccid,,,,,,uuid:bccfa7c7-1514-4b50-81d6-1c6217b824b6
3,16/09/20 06:57,16/09/20 06:58,16/09/20,355329114698347,https://drive.google.com/open?id=1N4qdtA7d5VMI...,coccid,,,,,,uuid:c74d1693-4495-41f7-97ea-e8ea4966b129
4,16/09/20 06:58,16/09/20 06:58,16/09/20,355329114698347,https://drive.google.com/open?id=1PTvPIhUveywn...,coccid,,,,,,uuid:c84c5a6d-99e7-4c48-9968-53671666dd73

In [105]:
#geocoded images
geocodedf = rawdf[rawdf['data-fid-gps'].loc[:]!=' ']
geocodedf.shape

(3033, 12)

In [106]:
#save them externally
geocodedf.to_csv("geocoded.csv",index=False)

In [107]:
geocodedimg = pd.read_csv("geocoded.csv")
geocodedimg.shape

(3033, 12)

In [93]:
geocodedimg.tail()

,data-fid-start,data-fid-end,data-fid-today,data-fid-deviceid,data-fid-img,data-fid-imgtype,data-fid-imgtype_other,data-fid-obs,data-fid-gps,data-fid-gps-altitude,data-fid-gps-accuracy,data-meta-instanceID
3028,9/11/2020 16:55:00,9/11/2020 16:55:00,9/11/2020,359044064548618,https://drive.google.com/open?id=1vqlDvRnoUjZM...,healthy,,,"-3.35845752,36.71405857",1454.0,5.0,uuid:ca209b25-ead3-47bf-92d5-2e5db8e95493
3029,9/11/2020 16:56:00,9/11/2020 16:56:00,9/11/2020,359044064548618,https://drive.google.com/open?id=1lVh0MKvVXyYJ...,healthy,,,"-3.35844178,36.71406684",1451.0,4.0,uuid:032f1a5c-c058-4bf3-87a7-9db5f3a27d90
3030,9/11/2020 16:56:00,9/11/2020 16:57:00,9/11/2020,359044064548618,https://drive.google.com/open?id=1zlFH9t_09_0E...,healthy,,,"-3.35844316,36.71407095",1452.0,5.0,uuid:c298ffcb-487a-4be8-976b-9d985cacebd2
3031,9/11/2020 16:57:00,9/11/2020 16:57:00,9/11/2020,359044064548618,https://drive.google.com/open?id=1Jtj6AtEHIUKf...,healthy,,,"-3.3584389,36.71406666",1454.0,5.0,uuid:f06c12a5-74bf-480d-9c8c-0faec45bb9f9
3032,9/11/2020 11:32:00,9/11/2020 11:33:00,9/11/2020,359044064548618,https://drive.google.com/open?id=1Aqho4WACyES0...,healthy,,,"-3.35835982,36.71394597",1425.0,5.0,uuid:d1f44e6a-ee84-44fb-a25f-0e3da407c468

In [108]:
#no of images (geocoded) till 9th Nov
geocodedimg['data-fid-imgtype'].value_counts()

healthy      1775
coccid       1231
salmo          24
newcastle       2
                1
Name: data-fid-imgtype, dtype: int64

In [60]:
geocodedimg.dtypes

data-fid-start             object
data-fid-end               object
data-fid-today             object
data-fid-deviceid           int64
data-fid-img               object
data-fid-imgtype           object
data-fid-imgtype_other     object
data-fid-obs               object
data-fid-gps               object
data-fid-gps-altitude     float64
data-fid-gps-accuracy     float64
data-meta-instanceID       object
dtype: object

In [109]:
os.getcwd()

'/home/dmachuve/Dropbox/Projects/AI4D_Poultry/AI4DatasetProc'

In [110]:
data_path='/home/dmachuve/Dropbox/Projects/AI4D_Poultry/AI4DatasetProc/rawImages/cocci'

In [111]:
os.listdir(data_path)

['1_9N1QsVK8MwpOwCuq2eWF5zD_HLKFlYX.jpg',
 '1A6nyeTPEJlJrzld9scRCLsnEbtIvdR81.jpg',
 '1AH4QPBtjGmqX6kTfl-GHQ4DfOcLeEGLi.jpg',
 '1_3YeCKcE2NYmapBhgY25GbzNFTplgrz4.jpg',
 '1aDoPu48jEQWc92CUZzM3rHamGrkrmr7m.jpg',
 '1ae05pv2tTLSPlTEi0wTmWpV-9TdGv-bC.jpg',
 '1-64tN4ep6kWQ-x4Zj6iHvGB_a7ISeBiK.jpg',
 '1aGUE0uWanB9T7xp2cHSaLq1qXvC-SuoY.jpg',
 '1aC8vCH5VYWHp3MH609B6mFVSLcu0Vovq.jpg',
 '1a2ky2bDY4e8RoBVhp-tlpxGNDq_8QDLA.jpg',
 '1_4FX18jP03cjNd5KXcQWEdviXF8SOIUM.jpg',
 '1AcF5CdtF8_X0PqEbzhSN7dHYStnhSuoq.jpg',
 '1a84vDPtebxVCClmF3MlXae3keJB7QahE.jpg',
 '1A0DYUVr1MCkfK3tNh-ysUbgzzJoi8KCE.jpg',
 '1ahPYi8ZbzD9pP0ZW4A8EZuYxWhW0q3gp.jpg',
 '1A3pyO-1yw4Ir42yU890AZgKMj4eKb089.jpg']

In [98]:
len(os.listdir(data_path))

16

In [152]:
oldimg_filename =[]
newimg_filename =[]

images_list = os.listdir(data_path)

for count, img_filename in enumerate(images_list):
    ext = os.path.splitext(img_filename)[1]
    oldname = os.path.splitext(img_filename)[0]
    print(count,oldname)
    #oldimg_filename.append(oldname)
   # if ext == '.jpg':
    #    src = data_path + '/' + img_filename
     #   dst = data_path + '/' + 'cocci.' + str(count) + '.jpg'
      #  os.rename(src, dst)  
       # newimg_filename.append(dst)

0 1_9N1QsVK8MwpOwCuq2eWF5zD_HLKFlYX
1 1_3YeCKcE2NYmapBhgY25GbzNFTplgrz4
2 1-64tN4ep6kWQ-x4Zj6iHvGB_a7ISeBiK
3 1a2ky2bDY4e8RoBVhp-tlpxGNDq_8QDLA
4 1_4FX18jP03cjNd5KXcQWEdviXF8SOIUM
5 1a84vDPtebxVCClmF3MlXae3keJB7QahE

In [164]:
#renaming files and reataining the old & new file names
import os
oldimg_filename =[]
newimg_filename =[]

images_list = os.listdir(data_path)
for count, img_filename in enumerate(images_list):
    ext = os.path.splitext(img_filename)[1]
    
    oldimg_filename.append(img_filename)
   
    if ext == '.jpg':
        newfile = 'cocci.' + str(count) + '.jpg'
        src = data_path + '/' + img_filename
        dst = data_path + '/' + newfile
        os.rename(src, dst)  
        newimg_filename.append(newfile)
imgdict = {'OldImgName':oldimg_filename,'NewImgName':newimg_filename}
imgdf = pd.DataFrame(imgdict)
imgdf.to_csv('filenames.csv',index=False)

['1_9N1QsVK8MwpOwCuq2eWF5zD_HLKFlYX.jpg', '1_3YeCKcE2NYmapBhgY25GbzNFTplgrz4.jpg', '1-64tN4ep6kWQ-x4Zj6iHvGB_a7ISeBiK.jpg', '1a2ky2bDY4e8RoBVhp-tlpxGNDq_8QDLA.jpg', '1_4FX18jP03cjNd5KXcQWEdviXF8SOIUM.jpg', '1a84vDPtebxVCClmF3MlXae3keJB7QahE.jpg']
['cocci.0.jpg', 'cocci.1.jpg', 'cocci.2.jpg', 'cocci.3.jpg', 'cocci.4.jpg', 'cocci.5.jpg']

In [161]:
imgdict = {'OldImgName':oldimg_filename,'NewImgName':newimg_filename}
imgdf = pd.DataFrame(imgdict)
imgdf

                              OldImgName   NewImgName
0  1_9N1QsVK8MwpOwCuq2eWF5zD_HLKFlYX.jpg  cocci.0.jpg
1  1_3YeCKcE2NYmapBhgY25GbzNFTplgrz4.jpg  cocci.1.jpg
2  1-64tN4ep6kWQ-x4Zj6iHvGB_a7ISeBiK.jpg  cocci.2.jpg
3  1a2ky2bDY4e8RoBVhp-tlpxGNDq_8QDLA.jpg  cocci.3.jpg
4  1_4FX18jP03cjNd5KXcQWEdviXF8SOIUM.jpg  cocci.4.jpg
5  1a84vDPtebxVCClmF3MlXae3keJB7QahE.jpg  cocci.5.jpg

In [162]:
imgdf.to_csv('filenames.csv',index=False)

In [163]:
checkdf=pd.read_csv("filenames.csv")
checkdf

                              OldImgName   NewImgName
0  1_9N1QsVK8MwpOwCuq2eWF5zD_HLKFlYX.jpg  cocci.0.jpg
1  1_3YeCKcE2NYmapBhgY25GbzNFTplgrz4.jpg  cocci.1.jpg
2  1-64tN4ep6kWQ-x4Zj6iHvGB_a7ISeBiK.jpg  cocci.2.jpg
3  1a2ky2bDY4e8RoBVhp-tlpxGNDq_8QDLA.jpg  cocci.3.jpg
4  1_4FX18jP03cjNd5KXcQWEdviXF8SOIUM.jpg  cocci.4.jpg
5  1a84vDPtebxVCClmF3MlXae3keJB7QahE.jpg  cocci.5.jpg